<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
		<title>The Blockchain Billboard v<%= APP_CONFIG['version'] %> </title>
		<%= render 'layouts/meta' %>
		<%= render 'layouts/includes' %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>